extends layout 

block content
    link(rel="stylesheet" href="/stylesheets/match.css")
    div(class="d-flex flex-row cont" style="gap: 10px; justify-content: center; width: 100%")
        div(class="card d-flex flex-column" style="color: white; background-color: rgba(0, 0, 0, 0.705); align-items: center; padding: 10px")
            h4(id="t1") Black 
            canvas(style="border: 1px solid black;") 
            h4(id="t2") White
        div(class="rounded settings" style="background-color: rgba(0, 0, 0, 0.705); height: 100%; padding: 10px;")
            button(id="flip" class="btn btn-primary" style="background-color: green; border: none;") Flip board
            div(class="d-flex flex-row" style="gap: 5px; justify-content: center; align-items: center;")
                button(id="left" class="btn btn-primary" style="background-color: black; border: none;") &#8592
                button(id="right" class="btn btn-primary" style="background-color: black; border: none;") &#8594
    div(id="end" class="rounded d-flex flex-column endBox" style="z-index: -1; justify-content: center; align-items: center;")
        div(style="width: 100%; display: none;" class="d-flex flex-row")
          div 
          button(id="close" class="btn-close" style="display: none;")
        h4(style="display: none;") 
        button(class="btn btn-primary" style="display: none; background-color: green; border: none;") Play again
    script. 
      const canvas = document.querySelector("canvas");
      const ctx = canvas.getContext('2d');
      canvas.width = 400;
      canvas.height = 400;
    
    script(src="/javascripts/ai.js")
    script(src="/javascripts/brain.js")
    script(src="/javascripts/legalmoves.js")
    script(src="/javascripts/piece.js")
    script(src="/javascripts/promote.js")
    script(src="/javascripts/box.js")
    script(src="/javascripts/board.js")
    script(src="/javascripts/ai-control.js")