extends layout 

block content 
    div(class="d-flex flex-column" style="color: white; align-items: center; width: 100%; height: 100%;")
        if matches.length === 0
            h1 No matches
        for match in matches 
            div(class="rounded d-flex flex-row mb-3" style="width: 80%; padding: 10px; background-color: black; height: auto; align-items: center; justify-content: center; height: auto;")
                div(class="d-flex flex-column" style="height: 100%; justify-content: center; gap: 20px;")
                    h3= match.player1 + " vs " + match.player2 
                    h4= match.mode
                    if match.draw 
                        h4 Draw 
                    else 
                        h4= "Winner by " + match.winningMethod + ": " + match.winner 
                    hr
                    form(action="/matches/" + match._id method='GET')
                        button(type="submit" class="btn btn-primary" style="background-color: green; border: none;") Check Match out
                div(style="flex: 1;")
                canvas(class="rounded ca" data-positions=match.positions style="border: 1px solid black;")
    script(src="javascripts/legalmoves.js")
    script(src="javascripts/box.js")
    script(src="javascripts/piece.js")
    script(src="javascripts/thumbnails.js")