extends layout 

block content  
    link(rel="stylesheet" href="/stylesheets/leaderboard.css")
    div(class="big-cont")
      for player in users
        div(class="cont")
          p(style="margin-left: 10px; text-align: left;")
            a(href=`/${player._id}` style="color: inherit; text-decoration: none;")= player.username 
          div(style="flex: 1;")
          p(style="margin-right: 10px; width: 75px")= "Rank: " + player.rank