extends layout

block content 
  link(rel="stylesheet", href="/stylesheets/index.css")
  main
    div(class="opt")
      form(action="/all-matches" method='GET')
        button(type="submit") ANALYZE GAMES
      form(action="/local" method='GET')
        button(type="submit") PLAY WITH A FRIEND 
      form(action="/ai" method='GET')
        button(type="submit") PLAY WITH COMPUTER
    div(class="games-cont" style="background-color: black; padding: 20px; border-radius: 10px;")
      div(class="games")
        p Ranked
        div
          form(action="/bullet/ranked" method='GET')
            button(type="submit") Bullet 1  
          form(action="/blitz/ranked" method='GET')
            button(type="submit") Blitz 3
          form(action="/rapid/ranked" method='GET')
            button(type="submit") Rapid 10
        p Anonymous 
        div
          form(action="/bullet/guest" method='GET')
            button(type="submit") Bullet 1  
          form(action="/blitz/guest" method='GET')
            button(type="submit") Blitz 3
          form(action="/rapid/guest" method='GET')
            button(type="submit") Rapid 10
    
    //div(class="d-flex flex-column" style="overflow: auto; border-top: 1px solid white; color: white; border-bottom: 1px solid white; color: white; flex: 1; height: 100%; align-items: center;")
      h2 Leaderboard
      for player in users
        div(class="d-flex flex-row" style="justify-content: center; align-items: center; width: 100%; border-top: 1px solid white;")
          p(style="margin-left: 10px; text-align: left;")
            a(href=`/${player._id}` style="color: inherit; text-decoration: none;")= player.username 
          div(style="flex: 1;")
          p(style="margin-right: 10px;")= "Rank: " + player.rank
      div(style="width: 100%; border: 0.25px solid white;")



  
  
